/* Copy & Paste this file as `propel.json` to define
 * your connection details
 * Don't forget to remove this comment section!
 */
{
    "propel": {
        "database": {
            "connections": {
                "default": {
                    "adapter": "pgsql",
                    "settings": {
                        "charset": "utf8"
                    }
                }
            }
        }
    }
}