{
    "propel": {
        "database": {
            "connections": {
                "default": {
                    "adapter": "pgsql",
                    "settings": {
                        "charset": "utf8"
                    }
                }
            }
        }
    }
}